.main-head {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

.main-carousel {
  height: 1296px;
  width: 100%;
  background: url(../img/carrossel\ 1.png) center / cover no-repeat;
  border-radius: 10px;
}

.main-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .info {
    display: flex;
    align-items: center;
    gap: 10px;
    i {
      font-size: 40px;
      color: $lightRed;
    }
    h3 {
      color: $darkGray;
      font-weight: bold;
      font-size: 1rem;
      margin: 0;
      line-height: 16px;
    }
    p {
      color: $mediumGray;
      font-weight: bold;
      font-size: 0.6rem;
      margin: 0;
      line-height: 8px;
    }
  }
}

.main-division {
  width: 100%;
  height: 1px;
  background-color: $red;
}

.main-adverts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 18px;
  align-items: center;
  justify-content: center;
  .advert {
    width: 49%;
    height: 100px;
    background-color: blue;
    border-radius: 10px;
    &:nth-child(1) {
      background: url("../img/anuncio\ 1.png") center / contain no-repeat;
    }
    &:nth-child(2) {
      background: url("../img/anuncio\ 2.png") center / contain no-repeat;
    }
    &:nth-child(3) {
      background: url("../img/anuncio\ 3.png") center / contain no-repeat;
    }
    &:nth-child(4) {
      background: url("../img/anuncio\ 4.png") center / contain no-repeat;
    }
  }
}

@media (max-width: 992px) {
  .main-head {
    height: auto;
  }
  .main-carousel {
    height: 200px;
    background-size: contain;
  }
  .main-infos {
    flex-wrap: wrap;
    gap: 10px;
    .info {
      width: 49%;
      flex-direction: column;
      i {
        font-size: 30px;
        width: 30px;
        height: 30px;
      }
      h3 {
        font-size: 0.8rem;
        text-align: center;
      }
      p {
        font-size: 0.5rem;
        text-align: center;
      }
    }
  }
  .main-adverts {
    flex-direction: column;
    gap: 2px;
    .advert {
      width: 100%;
    }
  }
}
