.box{
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.box .info{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
}


#imgFirst{
    border-radius: 8%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1rem;
    height: 450px;
}

.box .info .button-24 {
    background: #ff0800;
    border: 1px solid #ff0800;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-bottom: 1rem;

    &:hover,
    &:active {
        background-color: initial;
        background-position: 0 0;
        color: #ff0800;
    }
    
    &:active {
        opacity: 0.5;
    }
}


.fa-pix{
    color:#00BDAE;
}
.fa-truck-fast{
    color: red;
    font-size: 20px;
    margin-right: 5px;
}

.box .info .pix .span{
    font-weight: bold;
}
    




#preco{
    color: rgb(231, 0, 0);
    font-weight: bold;
}

#titulo{
    font-weight: bold;
}


@media (max-width: 954px) {
    #imgFirst{
        height: 350px;
    }
    
   
}

@media (max-width: 854px){
    #imgFirst{
        height: 250px;
    }
    
}

@media (max-width: 734px){
    
    .fa-truck-fast{
        height: 20px;
        
    }
    
}


@media (max-width: 425px){
    .box{
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .box .info{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
        
    }
    
    .box .imgs .imgDefault .imgOther{
        border-radius: 8%;
        margin: 0.5rem;
        &:hover{
            box-shadow: 0.5px 0.5px 0.5px 1px black;
        }
    }
    
    #imgFirst{
        border-radius: 8%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 1rem;
    }
    
    
}

@media (max-width: 390px){
    .box .imgs .imgDefault .imgOther{
        height: 92px;
    }
}

@media (max-width: 375px){
    .box .imgs .imgDefault .imgOther{
        height: 90px;
    }

}

@media (max-width: 360px){
    .box .imgs .imgDefault .imgOther{
        height: 85px;
    }

}

@media (max-width: 320px){
    .box .imgs .imgDefault .imgOther{
        height: 70px;
    }

    .box .info .button-24{
        font-size: 12px;
    }

}

