.box {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}

.box .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
}

.imgs {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin-right: 30px;
}

#imgProduto {
  width: 100%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.box .info .button-24 {
  background: $lightRed;
  border: 1px solid $lightRed;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 50px;
  margin-bottom: 1rem;

  &:hover,
  &:active {
    background-color: initial;
    color: $lightRed;
  }

  &:active {
    opacity: 0.5;
  }
}

.pix {
  font-family: $font;
  font-size: 14px;
  span {
    color: #00bdae;
    font-weight: bold;
    font-size: 16px;
  }
}

.entrega-agendada {
  display: flex;
  align-items: center;

  h3 {
    font-family: $font;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: $darkGray;
    font-size: 16px;
    margin: 0;
  }

  p {
    font-family: $font;
    line-height: 16px;
    font-size: 10px;
    font-weight: bold;
    color: $mediumGray;
    margin: 0;
  }
}

.fa-pix {
  color: #00bdae;
  margin-right: 6px;
}

.fa-truck-fast {
  color: $lightRed;
  font-size: 28px;
  margin-right: 8px;
}

.box .info .pix .span {
  font-weight: bold;
}

.price {
  margin: 20px 0;
  p {
    line-height: 0px;
    font-size: 14px;
    color: $darkGray;
  }
}

#preco {
  color: $lightRed;
  line-height: 16px;
  font-weight: bold;
  font-family: $font;
}

#titulo {
  font-weight: bold;
  color: $darkGray;
  text-transform: uppercase;
  font-family: $font;
}

.description {
  margin-top: 50px;
  h5 {
    font-family: $font;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: $darkGray;
  }
  p {
    font-family: $font;
    line-height: 16px;
    font-size: 14px;
    color: $mediumGray;
  }
}

@media (max-width: 768px) {
  .box {
    flex-direction: column;
  }
  .imgs {
    width: 100%;
    box-shadow: none;
  }
  .box .info {
    padding: 0;
  }
}

@media (max-width: 425px) {
  .box .info .button-24 {
    font-size: 12px;
  }
}
