.container-table {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.tableContent {
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}
