@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.header__container {
  font-family: "Poppins", sans-serif;
  height: 190px;
  width: 100%;
}
.header__container .header-infos {
  background-color: #c00000;
  height: 34px;
}
.header__container .header-content {
  display: flex;
  height: 120px;
  justify-content: space-between;
}
.header__container .header-content img {
  height: 100%;
}
.header__container .header-content .content-principal {
  width: 85%;
}
.header__container .header-content .content-principal .principal-search {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 50%;
}
.header__container .header-content .content-principal .principal-search .categories-nav p:nth-child(1) {
  color: black;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: -8px;
  text-transform: uppercase;
}
.header__container .header-content .content-principal .principal-search .categories-nav p:nth-child(2) {
  margin: 0;
  font-weight: bold;
  font-size: 11px;
  color: #707070;
}
.header__container .header-content .content-principal .principal-search .categories-search {
  background-color: #e0e0e0;
  border-radius: 20px;
  padding: 2px 20px;
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
.header__container .header-content .content-principal .principal-search .categories-search:focus {
  box-shadow: 0 0 0 1px #c00000;
}
.header__container .header-content .content-principal .principal-search .categories-search input {
  border: none;
  background-color: transparent;
  font-size: 14px;
}
.header__container .header-content .content-principal .principal-search .categories-search input:focus {
  outline: none;
}
.header__container .header-content .content-principal .principal-search .categories-search i {
  color: #c00000;
  background-color: transparent;
  font-size: 14px;
  align-self: center;
}
.header__container .header-content .content-principal .principal-nav {
  display: flex;
  align-items: center;
  height: 50%;
}
.header__container .header-content .content-principal .principal-nav .principal-categories {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
.header__container .header-content .content-principal .principal-nav .principal-categories li {
  align-items: center;
  display: flex;
}
.header__container .header-content .content-principal .principal-nav .principal-categories p {
  margin: 0;
  color: #3d3935;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.header__container .header-extra {
  background-color: #e0e0e0;
  height: 36px;
}

.icon-menu {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-menu.icon-bovinos {
  background-image: url(../img/bovino.png);
}

.icon-menu.icon-aves {
  background-image: url(../img/aves.png);
}

.icon-menu.icon-suinos {
  background-image: url(../img/suinos.png);
}

.icon-menu.icon-linguicas {
  background-image: url(../img/linguicas.png);
}

.icon-menu.icon-kits {
  background-image: url(../img/kits.png);
}

.icon-menu.icon-tudo {
  background-image: url(../img/tudo.png);
}

* {
  background-color: #f8f9fd;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
